@inherits AppComponentBase

<BitModal @bind-IsOpen="isOpen" IsBlocking="true">
    <div class="main-container">
        <div class="header">
            <BitLabel>@photo.Name</BitLabel>
            <BitLabel>@photo.CreatedAt</BitLabel>
            <BitIconButton IconName="@BitIconName.ChromeClose" OnClick="OnCloseClick" />
        </div>

        @if (bytes != null)
        {
            <img src="data:image/jpeg;base64,@bytes" alt="Photo" />
        }
        else
        {
            <BitSpinner Size="BitSpinnerSize.Large" />
        }

    </div>
</BitModal>